
plataformaDoacao/.metadata/.lock
plataformaDoacao/.metadata/.log
plataformaDoacao/.metadata/.mylyn/repositories.xml.zip
plataformaDoacao/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
plataformaDoacao/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
plataformaDoacao/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
plataformaDoacao/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
plataformaDoacao/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
plataformaDoacao/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
plataformaDoacao/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
plataformaDoacao/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
plataformaDoacao/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
plataformaDoacao/.metadata/.plugins/org.eclipse.jdt.core/index.db
plataformaDoacao/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
plataformaDoacao/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
plataformaDoacao/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
plataformaDoacao/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
plataformaDoacao/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
plataformaDoacao/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.0.20180606-2036.xml
plataformaDoacao/.metadata/.plugins/org.eclipse.oomph.setup.ui/dialog_settings.xml
plataformaDoacao/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
plataformaDoacao/.metadata/.plugins/org.eclipse.rse.core/.log
plataformaDoacao/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
plataformaDoacao/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
plataformaDoacao/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
plataformaDoacao/.metadata/.plugins/org.eclipse.ui.intro/introstate
plataformaDoacao/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
plataformaDoacao/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
plataformaDoacao/.metadata/version.ini
plataformaDoacao/.metadata/*
plataformaDoacao/src/main/resources/application.properties
plataformaDoacao/src/main/resources/application.properties
