<div class="bg-white border">
    <div class="row" *ngIf="campanha" >
        <div class="col-lg-8">
            <p-panel>
              <div class="row">
                <div  class="col-lg-8">   
                                  
                    <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>

                    <br>
                    <div>
                        <a>Categoria:</a> {{campanha.categoria.nome}}
                    </div>
                    <br>
                    <div>
                        <a>Data Final:</a> {{campanha.dataFinal}}
                    </div>
                    <br> 
                    <div>
                        <a>Contato: </a> {{campanha.telefone}} || {{campanha.celular}}
                    </div>
                    <br>                    
                </div>
                <div class="col-lg-4">
                    <div>
                        <b>Descrição</b>
                            <br>
                            {{campanha.descricao}}                        
                    </div>
                </div>
            </div>
            </p-panel>     
            <p-panel header="Endereço">
                 <br>
                 <div class="row">
                    <div class="col-lg-5">    
                        <label>Rua: </label> {{campanha.pessoa.endereco.rua}}    
                    </div>
                    <br>
                    <div class="col-lg-7">   
                            <label>Nº: </label> {{campanha.pessoa.endereco.numero}}            
                    </div>
                    <br>
                </div>
                <div class="row">
                        <div class="col-lg-4"> 
                                <label>Bairro: </label> {{campanha.pessoa.endereco.bairro}}
                        </div>
                        <div class="col-lg-4">      
                                <label>Cidade: </label> {{campanha.pessoa.endereco.cidade.nome}}              
                        </div>
                        <div class="col-lg-4"> 
                                <label>UF:</label>  {{campanha.pessoa.endereco.cidade.uf}}                                        
                        </div>
                    </div>                   
            </p-panel>         
        </div>  
        <div class="col-lg-4 p-4">
            <small>
               <h6>Comentários</h6>
                <hr>
            </small>
           <app-mensagem [campanhaId]="idAtual"></app-mensagem>
        </div>
    </div>
</div>