<div class="container border">
    <div class="row" *ngIf="campanha" >
        <div class="col-lg-8">
            <p-panel>
              <div class="row">
                <div  class="col-lg-8">   
                    <app-foto [campanhaId]="idAtual"></app-foto>            
                    <br>
                    <div>
                        <a>Categoria:</a> {{campanha.categoria.nome}}
                    </div>
                    <br>
                    <div>
                        <a>Data Final:</a> {{campanha.dataFinal}}
                    </div>
                    <br> 
                    <div>
                        <a>Contato: </a> {{campanha.telefone}} || {{campanha.celular}}
                    </div>
                    <br>                    
                </div>
                <div class="col-lg-4">
                    <div>
                        <b>Descrição</b>
                            <br>
                            {{campanha.descricao}}                        
                    </div>
                </div>
            </div>
            </p-panel>     
            <p-panel header="Endereço" *ngFor="let endereco of campanha.endereco">
                <div class="row">
                   <div class="col-lg-5">    
                       <label>Rua: </label> {{endereco.rua}}    
                   </div>
                   <br>
                   <div class="col-lg-7">   
                           <label>Nº: </label> {{endereco.numero}}            
                   </div>
                   <br>
               </div>
               <div class="row">
                       <div class="col-lg-4"> 
                               <label>Bairro: </label> {{endereco.bairro}}
                       </div>
                       <div class="col-lg-4">      
                               <label>Cidade: </label> {{endereco.cidade.nome}}              
                       </div>
                       <div class="col-lg-4"> 
                               <label>UF:</label>  {{endereco.cidade.sigla}}                                        
                       </div>
                   </div>                    
            </p-panel>         
        </div>  
        <div class="col-lg-4 p-4">
            <small>
               <h6>Comentários</h6>
                <hr>
            </small>
           <app-mensagem [campanhaId]="idAtual"></app-mensagem>
        </div>
    </div>
</div>