<div class="container">
  <h1>Lista de Gêneros</h1>
  <p-table [value]="generos" [paginator]="true"
      [rows]="5" [rowsPerPageOptions]="[5,10,25]">
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-genero>
        <tr>
            <td>{{genero.id}}</td>
            <td>{{genero.nome}}</td>
            <td> --- </td>
        </tr>
    </ng-template>
</p-table>


  <!--
  <br />
  <input type="text" class="form-control"
    [(ngModel)]="teste">
  <br />
    {{teste}}
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let genero of generos">
        <td>{{genero.id}}</td>
        <td>{{genero.nome}}</td>
      </tr>
    </tbody>
  </table>
-->
</div>
