<div class="container">
  <h1 class="form-heading">login Form</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <img src="../../assets/images/logo.PNG">
        <h2>Plataforma de Doações</h2>
        <p></p>
      </div>

      <form #form="ngForm" (submit)="login()" id="login">

        <div class="form-group">
          <input [(ngModel)]="username" type="email" name="username" id="inputEmail" class="input" placeholder="Email"
            class="form-control" required />
        </div>
        <div class="form-group">
          <input [(ngModel)]="password" type="password" name="password" id="inputEmail" class="input" placeholder="Senha"
            class="form-control" required />

        </div>

        <div class="forgot">
          <a href="recupera-senha">Esqueceu a Senha?</a> <br/>
          <a href="cadastroUsuario">Cadastra-se.</a>
        </div>

        <p class="submit">
          <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary btn-block" value="Entrar"
            [disabled]="!form.form.valid" />
        </p>
      </form>
    </div>
    <p-growl [(value)]="msgs"></p-growl>