<div class="container-fluid">
    <nav class="navbar bg-dark navbar-dark navbar-expand-md col-md-12">
        <a href="" routerLink="" class="navbar-brand">
            <i class="fa fa-home"></i> Home
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#barraNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="barraNav" class="collapse navbar-collapse">
            <div class="container-fluid">
                <div class="row">
                    <ul class="navbar-nav col-md-7">
                        <li><a href="#" routerLink="genero" class="nav-link">Gêneros</a></li>
                        <li><a href="#" routerLink="produtora" class="nav-link">Produtoras</a></li>
                        <li><a href="#" routerLink="serie" class="nav-link">Séries</a></li>
                        <li><a href="#" routerLink="episodio" class="nav-link">Episódios</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>