<div>
    <div style="float: left;">
        <nav class="navbar bg-dark navbar-dark navbar-expand-md col-md-12">
            <a href="" routerLink="" class="navbar-brand">
                <i class="fa fa-bullhorn"></i> Anúncios
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#barraNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="barraNav" class="collapse navbar-collapse">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="navbar-nav">
                            <li><a href="#" routerLink="cidade" class="nav-link">Cidades</a></li>
                            <li><a href="#" routerLink="endereco" class="nav-link">Endereços</a></li>
                            <li><a href="#" routerLink="pessoa" class="nav-link">Pessoas</a></li>
                            <li><a href="#" routerLink="categoria" class="nav-link">Categorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div style="float: right;">
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <button type="button" class="navbar-toggler" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
    </div>    
</div>
<div style="clear:both;"></div>