<div class="p-grid">
    <div class="p-col" style="width:95%; float: left;">
        <nav class="navbar bg-primary navbar-dark navbar-expand-md ">
            <a href="#" routerLink="index" class="navbar-brand">
                <i class="fa fa-bullhorn"></i> Anúncios
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#barraNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div *ngIf="isAuthenticated" id="barraNav" class="collapse navbar-collapse ">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="navbar-nav">
                            <li><a href="#" routerLink="cidade" class="nav-link">Cidades</a></li>
                            <li><a href="#" routerLink="endereco" class="nav-link">Endereços</a></li>
                            <li><a href="#" routerLink="pessoa" class="nav-link">Pessoas</a></li>
                            <li><a href="#" routerLink="categoria" class="nav-link">Categorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="!isAuthenticated" id="barraNav" class="collapse navbar-collapse ">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="navbar-nav">
                            <li><a href="#" routerLink="login" class="nav-link">Fazer Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="p-col" style="width:5%; float: right;">
        <nav class="bg-primary">
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
            <button type="button" class="navbar-toggler bg-primary" style="border: 0px" pButton icon="pi pi-bars"
                (click)="menu.toggle($event)">
                <span class="navbar"></span>
            </button>
        </nav>
    </div>
</div>
<div style="clear:both;"></div>