<div class="ui-g">
  <div class="ui-g-12 ui-md-3">
      <h3 style="font-weight:normal">Buscar</h3>

      <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-6">
              <p-radioButton name="groupTipo" value="campanha" label="Campanha" [(ngModel)]="campanha" inputId="optCampanha"></p-radioButton>
          </div>
          <div class="ui-g-6">
              <p-radioButton name="groupTipo" value="doacao" label="Docação" [(ngModel)]="doacao" inputId="optDoacao"></p-radioButton>
          </div>
      </div>
      <div style="clear:both;"></div>

      <h6 class="ui-g-12 ui-md-12">Contém</h6>
      <div style="clear:both;"></div>
      <span class="ui-float-label">
          <input class="" id="float-input" type="text" pInputText>
          <label for="float-input"> No titulo ou na descrição</label>
      </span>
      <div style="clear:both;"></div>

      <h6 class="ui-g-12 ui-md-12">Categoria</h6>
      <p-dropdown class="" [options]="categorias" [(ngModel)]="selectedCategoria" placeholder="Selecione uma categoria"
          optionLabel="name" [showClear]="true"></p-dropdown>
      <div style="clear:both;"></div>

      <h6 class="ui-g-12 ui-md-12">Cidade</h6>
      <p-dropdown class="" [options]="cidades" [(ngModel)]="selectedCidade" placeholder="Selecione uma cidade"
          optionLabel="name" [showClear]="true"></p-dropdown>
      <div style="clear:both;"></div>

      <div class="ui-g-12 ui-md-12">
          <h6>Data Inicial</h6>
          <p-calendar [(ngModel)]="dataInicial" [showIcon]="true"></p-calendar>
      </div>
      <div style="clear:both;"></div>

      <div class="ui-g-12 ui-md-12">
          <h6>Data Final</h6>
          <p-calendar [(ngModel)]="dataFinal" [showIcon]="true"></p-calendar>
      </div>
      <div style="clear:both;"></div>

      <button pButton type="button" (click)="visibleSidebar1 = false" label="Pesquisar" class="ui-button-info"></button>
      <div style="clear:both;"></div>
  </div>
  <div class="ui-g-12 ui-md-8 ui-g-nopad">
      <p-dataView #dv [value]="campanhas" [paginator]="true" [rows]="8" paginatorPosition="both" filterBy="brand"
          [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">            
          <ng-template pTemplate="gridItem" let-campanha>
              <div style="padding:.5em" class="ui-g-12 ui-md-3">
                  <p-panel [header]="campanha.titulo" [style]="{'text-align':'center'}">
                      <div class="campanha-detail">{{campanha.categoria.nome}}</div>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYRUAbDc-i5ZkuJvC8c8MYfz37sbm-NvLu8h7wvVwzM6Rycok8"
                          width="130px">                        
                      <div class="campanha-detail">{{campanha.descricao}}</div>
                      <hr class="ui-widget-content" style="border-top:0">
                      <button pButton type="button" icon="pi pi-search" (click)="selectCampanha($event, campanha)"
                          style="margin-top:0"data-toggle="tooltip"
                          title="Visualizar Anúncio"></button>
                      <button pButton type="button" icon="fa fa-check" (click) ="setFinalizado($event, camapnha)"
                       style="margin-top:0" data-toggle="tooltip"
                      title="Finalizar Anúncio"></button>
                  </p-panel>
              </div>
          </ng-template>
      </p-dataView>        
  </div>
</div>