<div class="container">
    <h2>
      <span class="badge badge-light">
        Cadastro de Usuario
      </span>
    </h2>
    
    <form>
        <!-- <div class="form-group" hidden>
          <p-checkbox name="status" value="true" [(ngModel)]="pessoaEdit.status" label="Ativo" checked="true" ></p-checkbox>
       </div> -->
        <div class="form-group" hidden="true">
          <label for="id">Código</label>
          <input class="form-control" type="text" name="id" id="id" readonly [(ngModel)]="pessoaEdit.id" />
        </div>
        <div class="row">
        <div class="form-group col">
          <label for="nome">Nome</label>
          <input class="form-control" type="text" name="nome" id="nome" [(ngModel)]="pessoaEdit.nome" />
        </div>
        <div class="form-group col">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" id="email" [(ngModel)]="pessoaEdit.email" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="senha">Senha</label>
          <input class="form-control" type="password" name="senha" id="senha" [(ngModel)]="pessoaEdit.senha" />
        </div>
        <div class="form-group col">
          <label for="senha">Confirmar Senha</label>
          <input class="form-control" type="password" name="senha2" id="senha2" [(ngModel)]="pessoaEdit.senha2" />
        </div>
      </div>
      <div class="row">
          <div class="form-group col">
            <label for="cpf_cnpj">CPF/CNPJ</label>
            <input class="form-control" type="text" name="cpf_cnpj" id="cpf_cnpj" [(ngModel)]="pessoaEdit.cpf_cnpj" />
          </div>
          <div class="form-group col">
            <label for="apelido">Apelido</label>
            <input class="form-control" type="text" name="apelido" id="apelido" [(ngModel)]="pessoaEdit.apelido" />
          </div>
      </div>
      <div class="row">
          <div class="form-group col">
            <label for="telefone">Telefone</label>
            <input class="form-control" type="text" name="telefone" id="telefone" [(ngModel)]="pessoaEdit.telefone" />
          </div>
          <div class="form-group col">
            <label for="celular">Celular</label>
            <input class="form-control" type="text" name="celular" id="celular" [(ngModel)]="pessoaEdit.celular" />
          </div>
        </div>
        <!-- <div class="row">
            <div class="ui-g-6 ui-fluid">
                <label for="endereco">Endereco</label>
                <input class="form-control" name="endereco" id="endereco" value="null" [(ngModel)]="pessoaEdit.endereco"/>
                <p-autoComplete [(ngModel)]="pessoaEdit.endereco" id="endereco" [suggestions]="enderecosFiltred" (completeMethod)="search($event)"
                  field="rua"></p-autoComplete>
      
              </div>            
          </div> -->

        
        <div class="row">
          <div class="col-sm-1" >
            <button type="submit" class="btn btn-success"  (click)="save()">
              <i class="fa fa-save"></i> Salvar
            </button>
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-danger" (click)="cancel()">
                <i class="fa fa-ban"></i> Cancelar
            </button>
          </div>
        </div>
      </form>
    
    <p-confirmDialog></p-confirmDialog>
  
    <p-growl [(value)]="msgs"></p-growl>
  
    
  </div>