<div class="row">
  <div class="col-12 m-3">
    <div class="text-center">
      <h2>Sem permissão para acessar esta página!</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="text-center">
        <button class="btn btn-primary m-2" (click)="home()">Home</button>
        <button class="btn btn-success m-2" (click)="cadastroUsuario()">Cadastra-se.</button>
        <button class="btn btn-info m-2" (click)="login()">Tela de Login</button>
      </div>
  </div>
</div>
