<div class="container">
  <h2>
    <span class="badge badge-light">
      Cadastro de Pessoas/Instituições
    </span>
  </h2>
  <button class="btn btn-primary" (click)="newEntity()">
    <i class="fa fa-plus-square"></i> Novo
  </button>
  <p-table #tbPessoa [columns]="cols" [value]="pessoas" [lazy]="true" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20,50]"  [totalRecords]="totalRecords" (onLazyLoad)="load($event)">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Filtrar" (input)="tbPessoa.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>

  </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>

        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
      <tr>
        <td>{{pessoa.id}}</td>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.apelido}}</td>
        <td>{{pessoa.email}}</td>
        <td>{{pessoa.cpfCnpj}}</td>
        <td>{{pessoa.telefone}}</td>
        <td>{{pessoa.celular}}</td>
        <td>{{pessoa.status}}</td>
        <td>{{"Rua " + pessoa.endereco.rua + " Nº: " +  pessoa.endereco.numero + " - " + "Bairro: " + pessoa.endereco.bairro+ ", " + pessoa.endereco.cidade.nome + "-" + pessoa.endereco.cidade.sigla}}</td>

        <td>
          <button type="button" class="btn btn-dark" (click)="edit(pessoa)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" (click)="delete(pessoa)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>

  <p-growl [(value)]="msgs"></p-growl>

  <p-dialog header="Cadastro de Pessoas/Instituições"
  [(visible)]="showDialog" modal="modal"
  [responsive]="true" [width]="700">
  <p-tabView>
   <p-tabPanel header="Cadastro">
    <div class="row">
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-12 ui-fluid">
          <p-checkbox name="status" binary="true"
          value="pessoaEdit.status" [(ngModel)]="pessoaEdit.status" label="Ativo"></p-checkbox>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="id">Código</label>
          <input class="form-control" type="text" name="id" id="id" readonly [(ngModel)]="pessoaEdit.id"/>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="nome">Nome</label>
          <input class="form-control" type="text" name="nome" id="nome" [(ngModel)]="pessoaEdit.nome"/>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="apelido">Apelido</label>
          <input class="form-control" type="text" name="apelido" id="apelido" [(ngModel)]="pessoaEdit.apelido"/>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="cpf_cnpj">CPF/CNPJ</label>
          <input class="form-control" type="text" name="cpf_cnpj" id="cpf_cnpj" [(ngModel)]="pessoaEdit.cpfCnpj"/>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email" [(ngModel)]="pessoaEdit.email"/>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="telefone">Telefone</label>
          <input class="form-control" type="text" name="telefone" id="telefone" [(ngModel)]="pessoaEdit.telefone"/>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="celular">Celular</label>
          <input class="form-control" type="text" name="celular" id="celular" [(ngModel)]="pessoaEdit.celular"/>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label for="endereco">Endereco</label>
          <p-autoComplete
            [(ngModel)]="pessoaEdit.endereco"
            [suggestions]="enderecosFiltered"
            (completeMethod)="search($event)"
            field="rua">
          </p-autoComplete>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label for="senha">Senha</label>
          <input class="form-control" type="text" name="senha" id="senha" [(ngModel)]="pessoaEdit.senha"/>
        </div>
      </div>
      </div>
  </p-tabPanel>

  <p-tabPanel header="Foto" *ngIf="pessoaEdit.id" >
          <div class="row">
            <div class="ui-g-12 ui-fluid">
              <label for="foto">Foto</label>
              <p-fileUpload
                chooseLabel="Selecionar..."
                cancelLabel="Cancelar"
                name="foto"
                 url="{{urlApi}}/pessoa/upload/{{pessoaEdit.id}}"
                    (onUpload)="onUpload($event)"
                    accept=".jpg"
                    maxFileSize="1000000">
                    <ng-template pTemplate="content">
                       <ul *ngIf="uploadedFiles.lenght">
                         <li *ngFor="let file of uploadedFiles">
                           {{file.name}} - {{file.size}} bytes
                         </li>
                       </ul>
                    </ng-template>
            </p-fileUpload>
            </div>
            <div class="ui-g-12 ui-fluid"
                 *ngIf="pessoaEdit.foto">
                <label for="fotoAtual">Foto atual</label>
                <br />
                <img alt="Nenhuma foto cadastrada!"
                  src="{{urlApi}}/images/{{pessoaEdit.foto}}?{{today}}"
                  width="100" height="150"/>
            </div>

          </div>
        </p-tabPanel>
      </p-tabView>
    <p-footer>
      <button type="button" class="btn btn-danger" (click)="cancel()">
        <i class="fa fa-ban"></i> Cancelar
      </button>
      <button type="button" class="btn btn-success" (click)="save()">
        <i class="fa fa-save"></i> Salvar
      </button>
    </p-footer>
  </p-dialog>
</div>
