<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card m-3 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h3 class="card-title mt-1 mb-4">Cadastro de Anúncios</h3>
          <form>
            <h3 class="mt-2"></h3>
            <div class="form-group row" style="margin-left: 0px;">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="rbTipoCampanha" name="tipoAnuncio" value="0" [(ngModel)]="anuncioEdit.tipoAnuncio" [checked]="true">
                <label class="custom-control-label" for="rbTipoCampanha">Campanha</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="rbTipoDoacao" name="tipoAnuncio" value="1" [(ngModel)]="anuncioEdit.tipoAnuncio">
                <label class="custom-control-label" for="rbTipoDoacao">Doação</label>
              </div>
            </div>
            <div class="form-group row">
              <label for="titulo" class="col-sm-2 col-form-label">Título</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="titulo" id="titulo" [(ngModel)]="anuncioEdit.titulo">
              </div>
            </div>
            <div class="form-group row">
              <label for="descricao" class="col-sm-2">Descrição:</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" name="descricao" id="descricao" [(ngModel)]="anuncioEdit.descricao"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="data_Inicio" class="col-2 col-form-label">Data Início</label>
              <div class="col-4">
                  <p-calendar
                  dateFormat="dd/mm/yy"
                  dataType="string"
                  name="data_Inicio" id="data_Inicio" 
                  [(ngModel)]="anuncioEdit.data_Inicio"></p-calendar>
              </div>
              <label for="data_Final" class="col-2 col-form-label">Data Início</label>
              <div class="col-4">
                  <p-calendar id="data_Final"
                  dateFormat="dd/mm/yy"
                  dataType="string"
                  name="data_Final" 
                  [(ngModel)]="anuncioEdit.data_Final"></p-calendar>
              </div>
            </div>
            <div class="form-group row">
              <label for="categoria" class="col-sm-2">Categoria:</label>
              <div class="col-sm-10">
                <p-dropdown [style]="{'width':'100%'}" [ngModelOptions]="{standalone: true}" placeholder="Selecione uma Categoria" [options]="categorias" [(ngModel)]="anuncioEdit.categoria" optionLabel="nome" [name]="categoria"></p-dropdown>
              </div>
            </div>
            <div class="form-group row">
              <label for="telefone" class="col-sm-2">Telefone:</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" name="telefone" id="telefone" [(ngModel)]="anuncioEdit.telefone">
              </div>
            </div>
            <div class="form-group row">
              <label for="celular" class="col-sm-2">Celular:</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" name="celular" id="celular" [(ngModel)]="anuncioEdit.celular">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    Endereços
                  </div>
                  <div class="card-body">
                    <app-endereco [recebeAnuncioID]="anuncioID" (respostaEndereco)="reciverEndereco($event)"></app-endereco>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="m-3" style="position: relative; bottom: 0;">
            <div class="pull-right">
                <button type="button" class="btn btn-outline-danger " (click)="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                  </button>
                  <button type="button" class="btn btn-outline-success ml-3" (click)="save()">
                      <i class="fa fa-check" aria-hidden="true"></i> Salvar
                  </button>
            </div><!-- /.pull-right -->
          </div><!-- /.m-3 -->
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-md-8 .offset-md-2-->
  </div><!-- /.row -->
</div><!-- /.container -->