<div class="container">
    <p-tabView>
        <p-tabPanel header="Meus Dados" leftIcon="pi pi-user">
            <div class="row">
                <div class="ui-g-12 ui-fluid">
                    <p-fieldset legend="">
                        <div class="ui-g-12 ui-fluid">
                            <label for="nome">Nome</label>
                            <input class="form-control" type="text" name="nome" id="nome" />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="apelido">Apelido</label>
                            <input class="form-control" type="text" name="apelido" id="apelido" />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="cpf_cnpj">CPF/CNPJ</label>
                            <input class="form-control" type="text" name="cpf_cnpj" id="cpf_cnpj" />
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Contato">
                        <div class="ui-g-12 ui-fluid">
                            <label for="email">Email</label>
                            <input class="form-control" type="text" name="email" id="email" />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="telefone">Telefone</label>
                            <input class="form-control" type="text" name="telefone" id="telefone" />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="celular">Celular</label>
                            <input class="form-control" type="text" name="celular" id="celular" />
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Endereço">
                        <div class="ui-g-12 ui-fluid">
                            <label for="rua">Rua</label>
                            <input class="form-control" type="text" name="rua" id="rua">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="numero">Numero</label>
                            <input class="form-control" type="text" name="numero" id="numero">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="bairro">Bairro</label>
                            <input class="form-control" type="text" name="bairro" id="bairro">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="cep">CEP</label>
                            <input class="form-control" type="text" name="cep" id="cep">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="complemento">Complemento</label>
                            <input class="form-control" type="text" name="complemento" id="complemento">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="cidade">Cidade</label>
                            <p-autoComplete id="cidade" [suggestions]="cidadesFiltred" (completeMethod)="search($event)"
                                field="nome"></p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="sigla">Estado</label>
                            <select class="form-control" name="sigla" id="sigla">
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amazonas</option>
                                <option value="AM">Amapá</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rondônia</option>
                                <option value="RO">Rio Grande do Sul</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">Sergipe</option>
                                <option value="SE">São Paulo</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </p-fieldset>
                </div>
            </div>
            <p-footer>
                <button type="button" class="btn btn-danger" (click)="cancel()">
                    <i class="fa fa-ban"></i> Cancelar
                </button>
                <button type="button" class="btn btn-success" (click)="save()">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </p-footer>
        </p-tabPanel>
        <p-tabPanel header="Vizualizar Perfil" leftIcon="pi pi-user">
            <div class="row">
                <div class="ui-g-12 ui-fluid">
                    Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather
                    parallels
                    the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's
                    depiction
                    of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian
                    village for
                    America after the local Mafia kills his family. Vito struggles to make a living, legally or
                    illegally, for
                    his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands
                    his
                    customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>