<div class="container">
    <p-tabView>
        <p-tabPanel header="Dados Cadastrais" leftIcon="pi pi-user">
            <div class="row">
                <div class="ui-g-12 ui-fluid">
                    <p-fieldset legend="">
                        <div class="row">
                            <div class="ui-g-12 ui-fluid">
                                <label for="fotoAtual">Foto atual</label>
                                <br />
                                <img 
                                    src="{{urlApi}}/images/{{pessoa.foto}}?{{today}}"
                                    width="100" height="150"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="nome">Nome</label>
                            <input class="form-control" type="text" name="nome" id="nome" value={{pessoa.nome}} />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="apelido">Apelido</label>
                            <input class="form-control" type="text" name="apelido" id="apelido" value={{pessoa.apelido}} />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="cpf_cnpj">CPF/CNPJ</label>
                            <input class="form-control" type="text" name="cpf_cnpj" id="cpf_cnpj" value={{pessoa.cpf_cnpj}} />
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Endereço">
                        <div class="ui-g-12 ui-fluid">
                            <label for="rua">Rua</label>
                            <input class="form-control" type="text" name="rua" id="rua" value={{pessoa.endereco.rua}} />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="numero">Número</label>
                            <input class="form-control" type="text" name="numero" id="numero" value={{pessoa.endereco.numero}} />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="bairro">Bairro</label>
                            <input class="form-control" type="text" name="bairro" id="bairro" value={{pessoa.endereco.bairro}} />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="complemento">Complemento</label> 
                            <input class="form-control" type="text" name="complemento" id="complemento" value={{pessoa.endereco.complemento}} />
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <label for="cidade">Cidade</label>
                            <p-autoComplete id="cidade" [suggestions]="cidadesFiltred" (completeMethod)="search($event)"
                                field="nome" ></p-autoComplete>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Foto">
                        <p-fileUpload chooseLabel="Selecionar..." cancelLabel="Cancelar"
                            name="foto" url="{{urlApi}}/pessoa/upload/{{pessoa.id}}"
                            (onUpload)="onUpload($event)" accept=".jpg" maxFileSize="1000000">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadFiles.lenght">
                                        <li *ngFor="let file of uploadFiles">
                                            {{file.name}} - {{file.size}} bytes
                                        </li>
                                    </ul>
                                </ng-template>
                        </p-fileUpload>
                    </p-fieldset>
                </div>
            </div>
            <p-footer>
                <button type="button" class="btn btn-danger" (click)="cancel()">
                    <i class="fa fa-ban"></i> Cancelar
                </button>
                <button type="button" class="btn btn-success" (click)="save()">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </p-footer>
        </p-tabPanel>
        <p-tabPanel header="Dados do Login" leftIcon="pi pi-user">
            <div class="row">
                <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-12 ui-fluid">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="text" name="email" id="nemailome" disabled="false" value={{pessoa.email}} />
                    </div>
                    <div class="ui-g-12 ui-fluid">
                        <label for="senha">Senha</label>
                        <input class="form-control" pPassword type="password" name="senha" id="senha" value={{pessoa.senha}} />
                    </div>
                </div>
            </div>
            <p-footer>
                <button type="button" class="btn btn-danger" (click)="cancel()">
                    <i class="fa fa-ban"></i> Cancelar
                </button>
                <button type="button" class="btn btn-success" (click)="save()">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </p-footer>
        </p-tabPanel>
    </p-tabView>
</div>