<div class="container">
  <div class="row" style="justify-content: center; margin-top: 5%">
      <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="text-center">
                      <h3><i class="glyphicon glyphicon-lock" style="font-size:2em;"></i></h3>
                      <h2 class="text-center">Resetar senha</h2>
                      <div class="panel-body">



                          <form #form="ngForm" (submit)="save()">


                
                              <div class="form-group" >
                                  <div class="input-group" style="margin-top: 10%">
                                      <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                      </span>
                                      <input  [(ngModel)]="editSenha.senha"
                                             id="password"
                                             name="password"
                                             class="form-control"
                                             placeholder="Digite a nova senha"
                                             type="password"/>
                                  </div>
     
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                      </span>
                                      <input  [(ngModel)]="editSenha.confirmSenha"
                                             id="passwordConfirm"
                                             name="passwordConfirm"
                                             class="form-control"
                                             placeholder="Confirme a nova senha"
                                             type="password"
                                             pattern="editSenha.confirmSenha"/>
                                  </div>

                              </div>
                              <div class="form-group">
                                    <input type="submit" (click)="save()" name="wp-submit" id="wp-submit" class="btn btn-primary btn-block"
                                    value="Resetar"/>
                            </div>
                          </form>

                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
          </div>
      </div>
  </div>
</div>

<p-growl [(value)]="msgs"></p-growl>